/*.highlight {
    position: relative;
    margin: 0 auto;
    padding: 70px 100px 0;
    min-height: 230px;
    font-family: 'Nanum Gothic Coding', 'Nanum Gothic Coding', serif;
    font-size: 1rem;
    line-height: 1.6em;
    background: #fff;
}*/

@font-face {
    font-family: 'Nanum Gothic Coding', monospace;
    src: url('NanumGothicCoding-Regular.woff2') format('woff2'),
        url('NanumGothicCoding-Regular.woff') format('woff'),
        url('NanumGothicCoding-Regular.ttf') format('truetype'),
        url('NanumGothicCoding-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum Gothic Coding', monospace;
    src: url('NanumGothicCoding-Bold.woff2') format('woff2'),
        url('NanumGothicCoding-Bold.woff') format('woff'),
        url('NanumGothicCoding-Bold.ttf') format('truetype'),
        url('NanumGothicCoding-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.woff2') format('woff2'),
        url('RobotoSlab-Bold.woff') format('woff'),
        url('RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Bold.woff2') format('woff2'),
        url('RobotoMono-Bold.woff') format('woff'),
        url('RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.woff2') format('woff2'),
        url('RobotoSlab-Regular.woff') format('woff'),
        url('RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Regular.woff2') format('woff2'),
        url('RobotoMono-Regular.woff') format('woff'),
        url('RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

